amqp==5.3.1
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
dataclasses==0.8
fastapi==0.68.2
greenlet==2.0.2
importlib-metadata==4.8.3
kombu==5.1.0
prompt-toolkit==3.0.19
psycopg-binary==3.0.18
pydantic==1.9.2
pytz==2024.2
six==1.17.0
SQLAlchemy==1.4.54
starlette==0.14.2
typing_extensions==4.1.1
vine==5.1.0
wcwidth==0.2.13
zipp==3.6.0
